/* 
    Document   : migrate
    Created on : 9-May-2013, 11:31:32 AM
    Author     : dddurand
    Description:
        Purpose of the stylesheet follows.
*/

.migrating_committee_data {
    text-align: center;
}

.updating_dependencies {
    text-align: center;    
}