/* 
    Document   : event_style
    Created on : 24-May-2013, 10:11:22 AM
    Author     : dddurand
    Description:
        Purpose of the stylesheet follows.
*/

.add_link {
   padding: 10px;
}

.add_link img{
   padding-right: 3px;
}

.ui-accordion-content {
    /*background: #e6effe;
    border-color: #719ec5;*/
}

.ui-state-active {
    background: #c3dcf1;
    border-color: #719ec5;
}

.ui-accordion-header {
    background: #c6d8e6;
    border-color: #719ec5;
}

#ajax_loading {
    display: none;
    text-align: center;
}

#ajax_loading img {
    padding-right: 10px;
}

#ajax_loading span {

}

.title_link {
    float:right;
    font-weight:normal;
}

.title a:link {color:#0000FF;}      /* unvisited link */
.title a:visited {color:#800080;}  /* visited link */
.title a:hover {color:#FF00FF;}  /* mouse over link */
.title a:active {color:#FF0000;}  /* selected link */

.date_time_picker {
 font-size:10px;
}